<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SiteOne</title>
	<% include head %>
</head>
<body>
	<% include navbar %>
	<h1>SiteOne</h1>
	<p>welcome</p>
</body>
</html>